[submodule "zsh/plugins/powerlevel10k"]
    path = zsh/plugins/powerlevel10k
    url = https://github.com/romkatv/powerlevel10k.git

[submodule "tools/fzf"]
    path = tools/fzf
    url = https://github.com/junegunn/fzf.git

[submodule "zsh/plugins/Aloxaf/fzf-tab"]
    path = zsh/plugins/Aloxaf/fzf-tab
    url = https://github.com/Aloxaf/fzf-tab.git

[submodule "zsh/plugins/agkozak/zsh-z"]
    path = zsh/plugins/agkozak/zsh-z
    url = https://github.com/agkozak/zsh-z.git

[submodule "zsh/plugins/zdharma-continuum/fast-syntax-highlighting"]
    path = zsh/plugins/zdharma-continuum/fast-syntax-highlighting
    url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git

[submodule "zsh/plugins/hlissner/zsh-autopair"]
    path = zsh/plugins/hlissner/zsh-autopair
    url = https://github.com/hlissner/zsh-autopair.git

[submodule "zsh/plugins/zsh-users/zsh-history-substring-search"]
    path = zsh/plugins/zsh-users/zsh-history-substring-search
    url = https://github.com/zsh-users/zsh-history-substring-search.git

[submodule "zsh/plugins/zsh-users/zsh-autosuggestions"]
    path = zsh/plugins/zsh-users/zsh-autosuggestions
    url = https://github.com/zsh-users/zsh-autosuggestions.git
